# NOTE: We use .npmignore instead of the `files` field in the package.json so we  
# can ignore specific test helper directories

# Ignore all directories 
/*

# Unignore the registry
!/docs/registry.json
