name: pr

on:
  schedule:
   - cron: '40 20 * * *'
  
jobs:
  build-registry:
    name: 'Check Registry Diff'
    runs-on: ubuntu-latest
    
    permissions:
      contents: write
      pull-requests: write
    
    steps:
      - uses: actions/checkout@v4
        with:
          ref: ${{ github.head_ref }}

      - name: Set Node.js 16.x
        uses: actions/setup-node@v3
        with:
          node-version: 16.x
    
      - name: Install deps
        run: yarn install

      # rebuild assets registry
      - run: yarn start

      - name: Create Pull Request
        uses: peter-evans/create-pull-request@v5
        with:
          branch: bot-auto-update-registry
          title: 'chore: update asset registry'
