name: registry

on:
  schedule:
   - cron: '0 0 * * 0'
  
jobs:
  build-registry:
    name: 'Build Registry'
    runs-on: ubuntu-latest
    
    permissions:
      contents: write
      pull-requests: write
    
    steps:
      - uses: actions/checkout@v4
        with:
          ref: ${{ github.head_ref }}
        
          run: echo "head ref ${{ github.head_ref}} - ref ${{github.ref}}"

      - name: Set Node.js 16.x
        uses: actions/setup-node@v3
        with:
          node-version: 16.x
    
      - name: Install deps
        run: yarn install

      # build registry
      - run: yarn start

      - name: Commit Changes
        uses: stefanzweifel/git-auto-commit-action@v4
        with: 
          commit_message: Automated Registry Update
          file_pattern: '*.json'
          disable_globbing: true

      - name: Merge Registry Changes to main
        uses: ad-m/github-push-action@master
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          branch: ${{ github.ref }}
